<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Listing Events</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Location</th>
        <th>Agenda</th>
        <th>Address</th>
        <th>Organizer</th>
        <th>Tags</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= l event.start_date, :format => :date_format %></td>
          <td><%= l event.end_date, :format => :date_format %></td>
          <td><%= event.location %></td>
          <td><%= event.agenda %></td>
          <td><%= event.organizer_id %></td>
          <td><%= link_to 'Show', event%></td>
          <td><%= event.all_tags.split(",").map { |t| link_to t, tag_path(t)}.join.html_safe() %> <!-- ??? -->
          </td>
   
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_event_path %>

  <div class="col-lg-4">
  <h3>Search Tags</h3>
    <div>
     <% tag_cloud Event.tag_counts, %w{css1 css2 css3
       css4} do |tag, css_class| %>
     <%= link_to tag.name, tag_path(tag.name), class:
       css_class %>
    <% end %>
    </div>
  </div>
</div>
