<!DOCTYPE html>
<html>
<head>
  <title>Eventz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div>
    <div class="navbar-header">
	     <a class="navbar-brand" href="#">EVENTZ</a>
	  </div>
    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
        <li><%=link_to "#{current_user.email}"%></li>
        <li class="active"><%= link_to "Logout",destroy_user_session_path, :method => :delete %></li>
        <%else%>
        <li><%= link_to "Login", new_user_session_path%></li>
        <li class="active"><%= link_to "SignUp",new_user_registration_path%></li>
      <%end%>
    </ul>
  </div>  
</nav>


<%= yield %>

</body>
</html>
